%h1 Socionics Theory

%section Socionics Theory - Map Diagram.

%section
	(Information element) + (functions model A) = (Socion)

	Function dichotomies

	Socion dichotomies
	socion small groups

	Intertype relations

%section
	= link_to "Personality Types (Socion)", socionics_socion_path
%section
	= link_to "Intertype Relations", socionics_intertype_relations_path
%section
	= link_to "Information Elements", socionics_information_elements_path
%section
	= link_to "Functions", socionics_functions_path


%section
	= link_to "Function Dichotomies", socionics_function_dichotomies_path
%section
	= link_to "Type Dichotomies", socionics_type_dichotomies_path
%section
	= link_to "Small Groups", socionics_small_groups_path


%h1 Intertype Relations

= render 'tool_intertype_relations'