%h1 Information Elements

%ul
	%li= link_to "(Si) Introverted Sensing", socionics_si_path
	%li= link_to "(Se) Introverted Sensing", socionics_se_path
	%li= link_to "(Ni) Introverted Sensing", socionics_ni_path
	%li= link_to "(Ne) Introverted Sensing", socionics_ne_path
	%li= link_to "(Ti) Introverted Sensing", socionics_ti_path
	%li= link_to "(Te) Introverted Sensing", socionics_te_path
	%li= link_to "(Fi) Introverted Sensing", socionics_fi_path
	%li= link_to "(Fe) Introverted Sensing", socionics_fe_path
