-# partial for a single comment.
.comment{ :id => "comment-#{comment.id}" }
  %hr

  -# if this comment belongs to the current_user, show destroy link
  = link_to "×", comment_path(comment), :method => :delete, :remote => true, :confirm => "Are you sure you want to remove this comment?", :disable_with => "×", :class => 'close'
  
  = render partial: 'votes/vote_comment', locals: { comment: comment }
  
  %h4
    = comment.user.username
    =# socionics Votes.type comment.user.vote ???
    %small= comment.updated_at
  .comment-body
    %p= comment.body
  %h4 
    =# link_to "Reply", AJAX stuff