%h1= @celebrity.name

= image_tag @celebrity.image.url(:medium)

= render 'form'

= link_to 'Show', @celebrity
\|
= link_to 'Destroy', @celebrity, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

.current_characters
  - @characters.each do |char|
    = image_tag char.image.url(:thumb)
    = link_to char.name, char
