%h1 Celebrities

= link_to 'New Celebrity', new_celebrity_path

%table
	%tr
		%th
		%th
		%th

	- @celebrities.each do |celeb|
		%tr
			%td= link_to image_tag(celeb.image.url(:thumb)), celeb
			%td= link_to celeb.name, celeb
			
			%td= link_to 'Edit', edit_celebrity_path(celeb)
			%td= link_to 'Destroy', celeb, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


