%h1= @celebrity.name

.container-horizontal
  .portrait 

    .picture
      = image_tag @celebrity.image.url(:medium)

    .tag_list
      Characters: 
      - if @characters.empty?
        = link_to "+", edit_celebrity_path
      - else
        - @characters.each do |char|
          = link_to image_tag(char.image.url(:thumb)), char
          = link_to char.name, char
          %br/

    .tag_list
      Universes: 
      - if @universes.empty?
        = link_to "+", edit_celebrity_path
      - else
        - @universes.each do |univ| 
          = link_to image_tag(univ.image.url(:thumb)), univ
          = link_to univ.name, univ
          %br/

    .edit
      = link_to 'Edit', edit_celebrity_path(@celebrity)
      \|
      = link_to 'Destroy', @celebrity, :method => :delete, :data => { :confirm => 'Are you sure?' }

  = render partial: 'votes/vote_socionics', locals: { votable: @votable, votable_name: @votable_name, socionics: @socionics }

%br/
.comments
  %h2 Comments
  = render partial: 'comments/form', locals: { new_comment: @new_comment } if user_signed_in?
  
  = render partial: 'comments/comment', collection: @comments, as: :comment