#vote-data{ style: "display: none;" }
  = @percentage_neti.to_json

.vote-chart-socionics
  - socionics.each_with_index do |s, i|
    .vote-chart-item
      .vote-button
        = link_to send("vote_socionics_#{votable_name}_path", votable, vote_type: "#{s.type_two_im_raw}"), method: :post, remote: true, data: { voted: @voted_statuses[i] }, id: "vote-#{s.type_two_im_raw}" do end
      .vote-bar-label
        = s.type_two_im
      .vote-bar
        = content_tag(:div, "", class: "bar-#{s.type_two_im_raw}") #slow, change later.
      .vote-readout
        = @percentage_neti #make this dynamic
        \%
