%h1 Characters
클레임관리 목록
= link_to 'New Character', new_character_path

%table
  %tr
    %th
    %th
    %th

  - @characters.each do |character|
    %tr
      %td= link_to image_tag(character.image.url(:thumb)), character
      %td= link_to character.name, character
      
      %td= link_to 'Edit', edit_character_path(character)
      %td= link_to 'Destroy', character, :method => :delete, :data => { :confirm => 'Are you sure?' }



