%h1= @character.name

.container-horizontal
  .portrait

    .picture
      = image_tag @character.image.url(:medium)

    .tag_list
      Universes: 
      - if @universes.empty?
        = link_to "+", edit_character_path
      - else
        - @universes.each do |univ| 
          = link_to image_tag(univ.image.url(:thumb)), univ
          = link_to univ.name, univ
          %br/

    .tag_list
      Celebrities:
      - if @celebrities.empty?
        = link_to "+", edit_character_path
      - else
        - @celebrities.each do |celeb|  
          = link_to image_tag(celeb.image.url(:thumb)), celeb
          = link_to celeb.name, celeb
          %br/

    .edit
      = link_to 'Edit', edit_character_path(@character)
      \|
      = link_to 'Destroy', @character, :method => :delete, :data => { :confirm => 'Are you sure?' }
    

  = render partial: 'votes/vote_socionics', locals: { votable: @votable, votable_name: @votable_name, socionics: @socionics }

.comments
  %h2 Discuss
  = render partial: 'comments/form', locals: { new_comment: @new_comment }

  = render partial: 'comments/comment', collection: @comments, as: :comment