%h1= @character.name

%br/
.tag_list
  Universes: 
  - if @universes.empty?
    none
    = link_to "Add", edit_character_path
  -else
    - @universes.each do |univ| 
      = link_to image_tag(univ.image.url(:thumb)), univ
      = link_to univ.name, univ
      %br/

%br/
.tag_list
  Celebrities: 
  - if @celebrities.empty?
    none
    = link_to "Add", edit_character_path
  -else
    - @celebrities.each do |celeb|  
      = link_to image_tag(celeb.image.url(:thumb)), celeb
      = link_to celeb.name, celeb
      %br/

%br/
= image_tag @character.image.url(:medium)

=# @character.vote_by voter: current_user, vote_scope: 'neti'
=# @character.vote_by voter: current_user, vote_scope: 'sife'
=# @character.vote_by voter: current_user, vote_scope: 'fesi'
=# @character.vote_by voter: current_user, vote_scope: 'tine'
=# @character.vote_by voter: current_user, vote_scope: 'feni'
=# @character.vote_by voter: current_user, vote_scope: 'tise'
=# @character.vote_by voter: current_user, vote_scope: 'seti'
=# @character.vote_by voter: current_user, vote_scope: 'nife'
=# @character.vote_by voter: current_user, vote_scope: 'sefi'
=# @character.vote_by voter: current_user, vote_scope: 'nite'
=# @character.vote_by voter: current_user, vote_scope: 'teni'
=# @character.vote_by voter: current_user, vote_scope: 'fise'
=# @character.vote_by voter: current_user, vote_scope: 'tesi'
=# @character.vote_by voter: current_user, vote_scope: 'fine'
=# @character.vote_by voter: current_user, vote_scope: 'nefi'
=# @character.vote_by voter: current_user, vote_scope: 'site'

%br/
= link_to 'Edit', edit_character_path(@character)
\|
= link_to 'Destroy', @character, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br/
- @comments.each do |c|
  = c.body

%br/
.comments
  %h2 Comments
  = render partial: 'comments/form', locals: { comment: @new_comment }
  -# Get collection of comments and treat each as comment.
  = render partial: 'comments/comment', collection: @comments, as: :comment
