= form_for(@universe, :html => { :multipart => true }) do |f|
	- if @universe.errors.any?
		#error_explanation
			%h2= "#{pluralize(@universe.errors.count, "error")} prohibited this universe from being saved:"
			%ul
				- @universe.errors.full_messages.each do |msg|
					%li= msg

	#stripe_error.alert.alert-danger{ :style => "display:none" }
		%noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.

	.form-group
		= f.label :name
		= f.text_field :name, autofocus: true
	.form-group
		= f.label :image
		= f.file_field :image
	
	= f.label :character_ids, "Link Characters"
	= f.collection_select :character_ids, Character.order(:name), :id, :name, {}, {multiple: true}

	.actions
		= f.submit
