%h1 Universes

%table
	%tr
		%th
		%th
		%th

	- @universes.each do |universe|
		%tr
			%td= link_to "#{universe.name}", universe
			%td= link_to 'Edit', edit_universe_path(universe)
			%td= link_to 'Destroy', universe, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Universe', new_universe_path
