%h1= @universe.name

%br/
%div
	Characters: 
	- if @characters.empty?
		none
		= link_to "Add", edit_universe_path
	-else
		- @characters.each do |char|
			= link_to image_tag(char.image.url(:thumb)), char
			= link_to char.name, char
			%br/

%br/
= link_to 'Edit', edit_universe_path(@universe)
\|
= link_to 'Destroy', @universe, :method => :delete, :data => { :confirm => 'Are you sure?' }
