%h1 Socionics Theory

%section Socionics Theory - Map Diagram.

%section
	(Information element) + (functions model A) = (Socion)

	Function dichotomies

	Socion dichotomies
	socion small groups

	Intertype relations

%section
	= link_to "Personality Types (Socion)", socion_socionics_pages_path
%section
	= link_to "Intertype Relations", intertype_relations_socionics_pages_path
%section
	= link_to "Information Elements", information_elements_socionics_pages_path
%section
	= link_to "Functions", functions_socionics_pages_path


%section
	= link_to "Function Dichotomies", function_dichotomies_socionics_pages_path
%section
	= link_to "Type Dichotomies", type_dichotomies_socionics_pages_path
%section
	= link_to "Small Groups", small_groups_socionics_pages_path


%h1 Intertype Relations

= render 'tool_intertype_relations'