%h1 Small Groups

%ul
  %li= link_to "Quadras", socionics_quadras_path
  alpha Si Ne Ti Fe
  beta  Se Ni Ti Fe
  gamma Se Ni Te Fi
  delta Si Ne Te Fi

  %li= link_to "Clubs", socionics_clubs_path
  NT
  NF
  ST
  SF

  %li= link_to "Temperaments", socionics_temperaments_path
  EP
  EJ
  IP
  IJ

  %li= link_to "Communication Styles", socionics_communication_styles_path
  ET
  EF
  IT
  IF

  %li= link_to "Romance Styles", socionics_romance_styles_path
  Se
  Ni
  Si
  Ne