%ul
	%li= link_to "Feature Suggestion", "#"
	%li= link_to "Report Bug", "#"
	%li= link_to "Changelog", "#"
%ul
	%li= link_to "About", pages_about_path
	%li= link_to "Contact", pages_contact_path
%ul
	%li= link_to "About", pages_about_path
	%li= link_to "Contact", pages_contact_path