!!!
%html
  %head
    %title CharacterPersonalities
    :plain
      <script type="text/javascript" src="//sdk.spritzinc.com/jQuery/jquery-2.1.0.min.js"></script>
      <script type="text/javascript" src="//sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>
      <script type="text/javascript">
        var SpritzSettings = {
          clientId: "7025145b79bcd478b",
          redirectUri:"http://characterpersonalities.com/pages/login_success.html"
        };
      </script>
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    <meta charset="utf-8" />
    %meta{:content => "width=device-width", :name => "viewport"}/
    
  %body
    %header
      .container
        .row
          = render 'layouts/header'
    %nav
      .affixable
        .container
          .row
            = render 'layouts/navbar'
    .body
      .container
        .row
          = render 'layouts/sidebar_one'      
          %main.col-xs-12.col-sm-8
            %notice= notice
            %alert= alert
            = yield
          = render 'layouts/sidebar_two'
    %footer
      .container
        .row
          = render 'layouts/footer'
    = debug(params) if Rails.env.development?
