!!!
%html
  %head
    %title CharacterPersonalities    
    :plain
      <script type="text/javascript" src="//sdk.spritzinc.com/jQuery/jquery-2.1.0.min.js"></script>
      <script type="text/javascript" src="//sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>
      <script type="text/javascript">
        var SpritzSettings = {
          clientId: "7025145b79bcd478b",
          redirectUri:"http://characterpersonalities.com/pages/login_success.html"
        };
      </script>
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true    
    = csrf_meta_tags
    %meta{ :content => "width=device-width", :name => "viewport" }/    
  %body
    %header.wrapper
      .wrap
        = render 'layouts/header'
    .affixable-wrapper
      %nav.wrapper.affixable
        .wrap
          = render 'layouts/navbar'
    #alerts.wrapper
      .wrap
        %notice= notice
        %alert= alert
    #likasomebodeeh.wrapper
      .wrap
        %aside#sidebar-one
          = render 'layouts/sidebar_one'

        .spacer-one

        %main
          = yield

        .spacer-two

        %aside#sidebar-two
          = render 'layouts/sidebar_two'
    .wrapper
      .wrap        
        %aside#sidebar-three
          = render 'layouts/sidebar_three'
    %footer.wrapper
      .wrap
        = render 'layouts/footer'
  = debug(params) if Rails.env.development?
  = params.inspect if Rails.env.development?
