!!!
%html
  %head
    %title CharacterPersonalities    
    :plain
      <script src="//sdk.spritzinc.com/jQuery/jquery-2.1.0.min.js"></script>
      <script src="//sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>
      <script>
        var SpritzSettings = {
          clientId: "7025145b79bcd478b",
          redirectUri:"http://characterpersonalities.com/pages/login_success.html"
        };
      </script>
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true    
    = csrf_meta_tags
    %meta{ :content => "width=device-width", :name => "viewport" }/    
  %body
    - if Rails.env.development?
      = debug(params) 
      = params.inspect

    %header.wrapper
      .wrap
        = render 'layouts/header'
    .affixable-wrapper
      %nav.wrapper.affixable
        .wrap
          = render 'layouts/navbar'
    .wrapper
      %aside#filmstrip-h-1
        = render 'layouts/filmstrip_h_1'
    #likasomebodeeh.wrapper
      .wrap
        -# Uncomment for symmetric filmstrip on left also.
        -#%aside#filmstrip-v-1
          -#= render 'layouts/filmstrip_v_1'

        -#.spacer-zero

        %aside#sidebar-one
          = render 'layouts/sidebar_one'

        .spacer-one

        %main
          #alerts.wrapper
            .wrap
              %notice= notice
              %alert= alert
          = yield

        .spacer-two

        %aside#filmstrip-v-2
          = render 'layouts/filmstrip_v_2'
    .wrapper      
      %aside#filmstrip-h-2
        = render 'layouts/filmstrip_h_2'
    %footer.wrapper
      .wrap
        = render 'layouts/footer'
