!!!
%html
  %head
    %title CharacterPersonalities    
    :plain
      <script type="text/javascript" src="//sdk.spritzinc.com/jQuery/jquery-2.1.0.min.js"></script>
      <script type="text/javascript" src="//sdk.spritzinc.com/js/1.0/js/spritz.min.js"></script>
      <script type="text/javascript">
        var SpritzSettings = {
          clientId: "7025145b79bcd478b",
          redirectUri:"http://characterpersonalities.com/pages/login_success.html"
        };
      </script>
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:content => "width=device-width", :name => "viewport"}/    
  %body
    %header.wrapper
      .wrap
        = render 'layouts/header'
    .wrapper
      .wrap
        %aside#sidebar-two
          = render 'layouts/sidebar_two'
    .affixable-wrapper
      %nav.affixable.wrapper
        .wrap
          = render 'layouts/navbar'
    #likasomebodeeh.wrapper
      .wrap
        %notice= notice
        %alert= alert
        %aside#sidebar-one.flex
          = render 'layouts/sidebar_one'
        .spacer
        %main
          = yield
    %footer.wrapper
      .wrap
        = render 'layouts/footer'
  = debug(params) if Rails.env.development?
